<!DOCTYPE html>
<html>
<head>
  <title>FileUploaderExcercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:danger] %>
<% flash[:danger].each do |key,val| %>
  <h6 class='alert alert-danger'>
      <%= key %>: <%= val.join(",") %>
    <% end %>
<% end %>
  </h6>
<%= yield %>

</body>
</html>
