<!DOCTYPE html>
<html>
<head>
  <title>FileUploaderExcercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render 'layouts/header' %>
<div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <h3> Your uploads: </h3>
      <ul class="nav nav-sidebar" id="fileItems">
        <li class="activ"><a href="#">File 1</a></li>
        <li><a href="#">File 2</a></li>
        <li><a href="#">File 3</a></li>
        <li><a href="#">File 4</a></li>
      </ul>
      <hr>
      <h3>  Commands: </h3>
        <h4><p class="label label-primary"> S R "Hi there" "Hey there"</p></h4>
        <h4><p class="label label-warning"> i 12 "Hey there"</p></h4>
        <h4><p class="label label-danger"> REV 4 </p></h4>
        <h4><p class="label label-success"> REV 4 "HO"</p></h4>
        <h4><p class="label label-default"> DEL 4 "HO"</p></h4>
        <h4><p class="label label-danger"> DEL 4</p></h4>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main toggle">
    <%= render 'layouts/flashy_content' %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
