<!DOCTYPE html>
<html>
<head>
  <title>FileUploader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render 'layouts/header' %>
<div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
    <h4><i class="fa fa-files-o"> Uploads</i></h4>
    <% if current_user().nil? %>
      <%= link_to "Log In", login_path, class: 'btn btn-primary btn-block' %>
      <hr>
      <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-block" %>
      <hr>
    <% else %>
      <%= render 'layouts/logged_in_content' %>
    <% end %>
      <h4><i class="fa fa-file-code-o"> Commands</i></h4>

      <h5><em class="label label-default"> R "Hello" "Hey there"</em> <h5/>
      <h5><em class="label label-default"> I 12 "Hey there"</em> <h5/>
      <h5><em class="label label-default"> REV 4 </em> <h5/>
      <h5><em class="label label-default"> REV 4 "HO"</em> <h5/>
      <h5><em class="label label-default"> DEL 4 "HO"</em> <h5/>
      <h5><em class="label label-default"> DEL 4</em> <h5/>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main toggle">
    <%= render 'layouts/flashy_content' %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
